@{
    ViewData["Title"] = "Index";
}
<h1>Order success</h1>
<h2>Order ID-@ViewBag.id</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Bill</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price</td>
                <td>@item.Quantity</td>
                <td>@(item.Product.Price* item.Quantity)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th>@ViewBag.total</th>
        </tr>
    </tfoot>
</table>
<a asp-action="success" class="btn btn-success">Back to products</a> |

